---
import Fv from "../components/top/fv.astro";
import Layout from "../layouts/Layout.astro";
import Marquee from "../components/common/marquee.astro";
---

<Layout title="MB.js">
  <Fv />
  <Marquee text="RECENT PROJECT" isShowSeparate={true} />
  <main></main>
</Layout>
