.noise {
    animation: grain 8s steps(10) infinite;
    -webkit-animation: grain 8s steps(10) infinite;
    background-image: url(../../public/images/nosie_cover2.png);
    height: 300%;
    width: 300%;
    opacity: 0.1;
    top: -100%;
    left: -50%;
    position: fixed;
    pointer-events: none;
    z-index: 99;
}

@keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-8%, 5%) }
    30% { transform:translate(7%, -15%) }
    40% { transform:translate(-5%, 15%) }
    50% { transform:translate(-8%, 10%) }
    60% { transform:translate(8%, 0%) }
    70% { transform:translate(0%, 8%) }
    80% { transform:translate(3%, 20%) }
    90% { transform:translate(-8%, 8%) }
}

@-webkit-keyframes grain {
    0%, 100% { -webkit-transform:translate(0, 0); transform:translate(0, 0) }
    10% { -webkit-transform:translate(-5%, -10%); transform:translate(-5%, -10%) }
    20% { -webkit-transform:translate(-8%, 5%); transform:translate(-8%, 5%) }
    30% { -webkit-transform:translate(7%, -15%); transform:translate(7%, -15%) }
    40% { -webkit-transform:translate(-5%, 15%); transform:translate(-5%, 15%) }
    50% { -webkit-transform:translate(-8%, 10%); transform:translate(-8%, 10%) }
    60% { -webkit-transform:translate(8%, 0%); transform:translate(8%, 0%) }
    70% { -webkit-transform:translate(0%, 8%); transform:translate(0%, 8%) }
    80% { -webkit-transform:translate(3%, 20%); transform:translate(3%, 20%) }
    90% { -webkit-transform:translate(-8%, 8%); transform:translate(-8%, 8%) }
}