---
import GlobalHeader from "../components/global/header.astro";
import GlobalFooter from "../components/global/footer.astro";

import "modern-css-reset";
import "../style/common.scss";
import "../style/utls.scss";
import "../style/bg.scss";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/onf1knq.css" />
    <title>{title}</title>
  </head>
  <body>
    <div class="noise"></div>
    <GlobalHeader />
    <slot />
    <GlobalFooter />
  </body>
</html>
