---
import GlobalHeader from "../components/global/header";
import "modern-css-reset";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/onf1knq.css" />
    <title>{title}</title>
  </head>
  <body>
    <GlobalHeader />
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: ambroise-firmin-std, YuMincho, "Yu Mincho", serif;
  }
</style>
