---
import Menulist from "../common/menulist.astro";
---

<footer>
  <div class="flex align-center">
    <Menulist className="footer-menu" />
    <div class="flex copyright">
      <p class="title">MB.js</p>
      <p>copyright 2019-2023 shumpei all rights reserved.</p>
    </div>
  </div>
</footer>

<style>
  .copyright {
    text-transform: uppercase;
  }

  .title::after {
    content: "|";
    margin: 0 2px;
  }
</style>
