---
import Menulist from "../common/menulist.astro";

const now = new Date();
const year = now.getFullYear();
const COPY_RIGHT = `MB.js | copyright 2019-${year} Shumpei All Rights Reserved.`;
---

<footer>
  <div class="flex align-center">
    <Menulist className="footer-menu" />
    <div class="flex copyright">
      <address translate="no">{COPY_RIGHT}</address>
    </div>
  </div>
</footer>

<style>
  .copyright {
    text-transform: uppercase;
    font-size: 1.6rem;
  }

  .title::after {
    content: "|";
    margin: 0 2px;
  }
</style>
